
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 89% 93%;
    --foreground: 222.2 84% 4.9%;

    --card: 48 89% 96%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 48 89% 96%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 86 35% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 48 89% 88%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 48 89% 88%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 48 89% 88%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 48 89% 85%;
    --input: 48 89% 85%;
    --ring: 86 35% 60%;

    --radius: 0.5rem;

    --sidebar-background: 48 89% 95%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 86 35% 60%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 48 89% 90%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 48 89% 85%;
    --sidebar-ring: 86 35% 60%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 86 35% 60%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 86 35% 60%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 86 35% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 86 35% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
